<script context="module" lang="ts">
  let current: HTMLAudioElement
  type AudioPlayerProps = {
    src?: string
    title?: string
    composer?: string
    performer?: string
    autoplay?: boolean
  }
</script>

<script lang="ts">
  const {
    src,
    title,
    composer,
    performer,
    autoplay
  }: AudioPlayerProps = $$props

  let audio: HTMLAudioElement
  let paused = true

  function stopOthers() {
    current && current !== audio && current.pause()
    current = <HTMLAudioElement>audio
  }
</script>

<article class:playing="{!paused}">
  <h2>{title}</h2>
  <p><strong>{composer}</strong> / performed by {performer}</p>

  <audio
    bind:this="{audio}"
    bind:paused
    on:play="{stopOthers}"
    autoplay="{autoplay}"
    controls
    src="{src}"
  >
    <track kind="captions" />
  </audio>
</article>

<style lang="postcss">
  article {
    max-width: 800px;
    @apply mb-4 mx-auto text-left;
  }
  h2,
  p {
    @apply mb-1;
  }
  audio {
    margin: 0.5em 0 1em 0;
    @apply w-full;
  }
  .playing {
    color: #ff3e00;
  }
</style>
