<script context="module" lang="ts">
  const elements: Set<HTMLAudioElement> = new Set()

  export function stopAll() {
    elements.forEach((elem) => elem.pause())
  }

  type AudioPlayerProps = {
    src?: string
    title?: string
    composer?: string
    performer?: string
    autoplay?: boolean
  }
</script>

<script lang="ts">
  import { onMount } from 'svelte'

  const {
    src,
    title,
    composer,
    performer,
    autoplay
  }: AudioPlayerProps = $$props

  let audio: HTMLAudioElement
  let paused = true

  onMount(() => {
    elements.add(audio)
    return () => elements.delete(audio)
  })

  function stopOthers() {
    elements.forEach((elem) => {
      elem !== audio && elem.pause()
    })
  }
</script>

<article class:playing="{!paused}">
  <h2>{title}</h2>
  <p><strong>{composer}</strong> / performed by {performer}</p>

  <audio
    bind:this="{audio}"
    bind:paused
    on:play="{stopOthers}"
    src="{src}"
    autoplay="{autoplay}"
    controls
  >
    <track kind="captions" />
  </audio>
</article>

<style lang="postcss">
  article {
    max-width: 800px;
    @apply mb-4 mx-auto text-left;
  }
  h2,
  p {
    @apply mb-1;
  }
  audio {
    margin: 0.5em 0 1em 0;
    @apply w-full;
  }
  .playing {
    color: #ff3e00;
  }
</style>
