<script lang="ts">
  import { onMount } from 'svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  type Emoji = {
    character?: string
    x?: number
    y?: number
    r?: number
  }

  let characters: Array<string> = ['🥳', '🎉', '✨']

  let confetti: Array<Emoji> = new Array(100)
    .fill({})
    .map((_, i) => {
      return {
        character: characters[i % characters.length],
        x: Math.random() * 100,
        y: -20 - Math.random() * 100,
        r: 0.1 + Math.random()
      }
    })
    .sort((a, b) => a.r - b.r)

  onMount(() => {
    let frame: number

    function loop() {
      frame = requestAnimationFrame(loop)

      confetti = <Array<Emoji>>confetti.map((emoji) => {
        if (emoji.y && emoji.r) {
          emoji.y += 0.7 * emoji.r
          if (emoji.y > 120) emoji.y = -20
          return emoji
        }
      })
    }

    loop()

    return () => cancelAnimationFrame(frame)
  })
</script>

<TitleLink href="https://svelte.dev/tutorial/congratulations">
  Congratulations!
</TitleLink>

{#each confetti as c}
  <span style="left: {c.x}%; top: {c.y}%; transform: scale({c.r})">
    {c.character}
  </span>
{/each}

<style lang="postcss">
  :global(body) {
    @apply overflow-hidden;
  }

  span {
    font-size: 5vw;
    @apply absolute;
  }
</style>
