<article class="contact-card">
  <h2>
    <slot name="name">
      <span class="missing">Unknown name</span>
    </slot>
  </h2>

  <div class="address">
    <slot name="address">
      <span class="missing">Unknown address</span>
    </slot>
  </div>

  <div class="email">
    <slot name="email">
      <span class="missing">Unknown email</span>
    </slot>
  </div>
</article>

<style lang="postcss">
  .contact-card {
    @apply text-left rounded-md border border-solid border-gray-300 p-4 mx-auto mt-4;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    @apply text-center;
    padding: 0 0 0.2em 0;
    margin: 0 0 1em 0;
    border-bottom: 1px solid #ff3e00;
  }

  .address,
  .email {
    padding: 0 0 0 1.5em;
    background: 0 50% no-repeat;
    background-size: 1em 1em;
    margin: 0 0 0.5em 0;
    line-height: 1.2;
  }

  .address {
    background-image: url(../../../assets/icons/map-marker.svg);
  }
  .email {
    background-image: url(../../../assets/icons/email.svg);
  }
  .missing {
    color: #999;
  }
</style>
