<script lang="ts">
  export let name: string
  export let postedAt: Date

  $: avatar = `https://ui-avatars.com/api/?name=${name.replace(
    / /g,
    '+'
  )}&rounded=true&background=ff3e00&color=fff&bold=true`
</script>

<article>
  <div class="header">
    <img src="{avatar}" alt="" height="32" width="32" />
    <div class="details">
      <h4>{name}</h4>
      <time datetime="{postedAt.toISOString()}"
        >{postedAt.toLocaleDateString()}</time
      >
    </div>
  </div>
  <div class="body">
    <slot />
  </div>
</article>

<style lang="postcss">
  article {
    @apply p-4 rounded-md bg-white m-1 border border-gray-300 border-solid;
  }

  .header {
    @apply flex items-center;
  }

  .details {
    @apply flex-auto m-2;
  }

  h4 {
    @apply m-0;
  }

  time {
    font-size: 0.75rem;
    @apply underline text-gray-600;
  }

  .body :global(p) {
    margin: 0;
  }
</style>
