<script lang="ts">
  export let title: string
  export let tasksCompleted: number = 0
  export let totalTasks: number = 0
</script>

<article class:has-discussion="{$$slots.comments}">
  <div>
    <h2>{title}</h2>
    <p>{tasksCompleted}/{totalTasks} tasks completed</p>
  </div>
  {#if $$slots.comments}
    <div class="discussion">
      <h3>Comments</h3>
      <slot name="comments" />
    </div>
  {/if}
</article>

<style lang="postcss">
  article {
    @apply rounded-md relative text-left;
    border: 1px #ccc solid;
  }

  article > div {
    @apply p-5;
  }

  article.has-discussion::after {
    @apply absolute rounded-xl;
    content: '';
    background-color: #ff3e00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 20px;
    right: -10px;
    top: -10px;
    width: 20px;
  }

  h2,
  h3 {
    margin: 0 0 0.5rem;
  }

  h3 {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  p {
    color: #777;
    margin: 0;
  }

  .discussion {
    background-color: #eee;
    border-top: 1px #ccc solid;
  }
</style>
