<script lang="ts">
  let hovering: boolean

  function enter() {
    hovering = true
  }

  function leave() {
    hovering = false
  }
</script>

<div class="container" on:mouseenter="{enter}" on:mouseleave="{leave}">
  <slot hovering="{hovering}" />
</div>
