<script lang="ts">
  import { onMount, setContext } from 'svelte'
  import { mapbox, key } from '../libs/map-box'

  setContext(key, {
    getMap: function () {
      return map
    }
  })

  export let lat: number
  export let lon: number
  export let zoom: number

  let container: HTMLElement
  let map: mapbox.Map

  onMount(() => {
    const link = document.createElement('link')!
    link.rel = 'stylesheet'
    link.href = 'https://unpkg.com/mapbox-gl/dist/mapbox-gl.css'

    link.onload = () => {
      map = new mapbox.Map({
        container,
        style: 'mapbox://styles/mapbox/streets-v9',
        center: [lon, lat],
        zoom
      })
    }

    document.head.appendChild(link)

    return () => {
      map.remove()
      link.parentNode?.removeChild(link)
    }
  })
</script>

<div bind:this="{container}">
  {#if map}
    <slot />
  {/if}
</div>

<style>
  div {
    width: 100%;
    height: 100%;
  }
</style>
