<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import Map from './components/a.map-component.svelte'
  import MapMarker from './components/a.map-marker-component.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/context-api">
  Set Context and Get Context
</TitleLink>

<Map lat="{35}" lon="{-84}" zoom="{3.5}">
  <MapMarker lat="{37.8225}" lon="{-122.0024}" label="Svelte Body Shaping" />
  <MapMarker
    lat="{33.8981}"
    lon="{-118.4169}"
    label="Svelte Barbershop & Essentials"
  />
  <MapMarker lat="{29.723}" lon="{-95.4189}" label="Svelte Waxing Studio" />
  <MapMarker
    lat="{28.3378}"
    lon="{-81.3966}"
    label="Svelte 30 Nutritional Consultants"
  />
  <MapMarker lat="{40.6483}" lon="{-74.0237}" label="Svelte Brands LLC" />
  <MapMarker lat="{40.6986}" lon="{-74.41}" label="Svelte Medical Systems" />
</Map>
