<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'

  let user: { firstName: string; lastName: string } = {
    firstName: 'Ada',
    lastName: 'Lovelace'
  }
</script>

<TitleLink href="https://svelte.dev/tutorial/debug">The @debug Tag</TitleLink>

<input
  class="border-solid border border-gray-500 focus:outline-none"
  bind:value="{user.firstName}"
/>
<input
  class="border-solid border border-gray-500 focus:outline-none"
  bind:value="{user.lastName}"
/>

{@debug user}

<h1>Hello {user.firstName}!</h1>
