<script lang="ts">
  import Box from './components/a.box-component.svelte'
  import TitleLink from '../../components/TitleLink.svelte'
</script>

<TitleLink
  href="https://frontendmasters.com/courses/svelte/composing-components-with-slots/"
>
  Composing Components with Slot
</TitleLink>

<div class="flex items-center flex-col mt-6">
  <Box>
    <h2>Hello!</h2>
    <p>This is box. It can contain anything.</p>
  </Box>

  <Box />
</div>
