<script>
  import Box from './components/b.box-component.svelte'
  import TitleLink from '../../components/TitleLink.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/slot-fallbacks">
  Slot Fallback
</TitleLink>

<Box>
  <h2>Hello!</h2>
  <p>This is a box. It can contain anything.</p>
</Box>
