<script>
  import TitleLink from '../../components/TitleLink.svelte'
  import ContactCard from './components/c.contact-card-component.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/named-slots">
  Named Slots
</TitleLink>

<ContactCard>
  <span slot="name">fResult Sila</span>
  <span slot="address">
    Sukhumvit Rd., Bangchak, Phrakhanong, Bangkok, Thailand
  </span>
</ContactCard>
