<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import Project from './components/d.project-component.svelte'
  import Comment from './components/d.comment-component.svelte'

  type Comment = {
    name: string
    postedAt: Date
    description: string
  }

  let comments: Array<Comment> = [
    {
      name: 'Ecma Script',
      postedAt: new Date('2020-08-17T14:12:23'),
      description: 'Those interface tests are now passing.'
    },
    {
      name: 'Linus Trovald',
      postedAt: new Date('2012-12-21T23:59:59'),
      description: 'STFU!'
    }
  ]
</script>

<TitleLink href="https://svelte.dev/tutorial/optional-slots">
  Checking for Slot Content
</TitleLink>

<h1>Projects</h1>

<ul>
  <li>
    <Project
      title="Add Typescript support"
      tasksCompleted="{25}"
      totalTasks="{57}"
    >
      <div slot="comments">
        {#each comments as comment}
          <Comment name="{comment.name}" postedAt="{comment.postedAt}">
            <p>{comment.description}</p>
          </Comment>
        {/each}
      </div>
    </Project>
  </li>
  <li>
    <Project
      title="Update documentation"
      tasksCompleted="{18}"
      totalTasks="{21}"
    />
  </li>
</ul>

<style lang="postcss">
  h1 {
    @apply my-0 mx-4 font-light;
  }

  ul {
    @apply flex m-2 p-0 list-none;
  }

  @media (max-width: 600px) {
    ul {
      @apply flex-col;
    }
  }

  li {
    @apply p-2;
    flex: 1 1 50%;
    min-width: 200px;
  }
</style>
