<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import Hoverable from './components/e.hoverable-component.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/slot-props">Slot Props</TitleLink>

<span class="flex justify-around bg-white">
  <Hoverable let:hovering>
    <div class:active="{hovering}">
      {#if hovering}
        <p>I am being hovered upon.</p>
      {:else}
        <p>Hover over me!</p>
      {/if}
    </div>
  </Hoverable>

  <Hoverable let:hovering="{active}">
    <div class:active>
      {#if active}
        <p>I am being hovered upon.</p>
      {:else}
        <p>Hover over me!</p>
      {/if}
    </div>
  </Hoverable>

  <Hoverable let:hovering>
    <div class:active="{hovering}">
      {#if hovering}
        <p>I am being hovered upon.</p>
      {:else}
        <p>Hover over me!</p>
      {/if}
    </div>
  </Hoverable>
</span>

<style>
  div {
    padding: 1em;
    margin: 0 0 1em 0;
    background-color: #eee;
  }

  .active {
    background-color: #ff3e00;
    color: white;
  }
</style>
