<script lang="ts">
  import { fade } from 'svelte/transition'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible: boolean = true
</script>

<TitleLink href="https://svelte.dev/tutorial/transition">
  Transition Directive
</TitleLink>

<Button on:click="{() => (visible = !visible)}">Toggle</Button>

{#if visible}
  <p class="text-blue-400 text-8xl" transition:fade>Fades in, fades out.</p>
{/if}
