<script>
  import { fly } from 'svelte/transition'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible = true
</script>

<TitleLink href="https://svelte.dev/tutorial/adding-parameters-to-transitions">
  Adding Parameters
</TitleLink>

<Button on:click="{() => (visible = !visible)}">Toggle</Button>

{#if visible}
  <p
    class="text-blue-400 text-8xl"
    transition:fly="{{ y: 200, duration: 2000 }}"
  >
    Flies in, flies out.
  </p>
{/if}
