<script lang="ts">
  import { fly, fade } from 'svelte/transition'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible: boolean = true
</script>

<TitleLink href="https://svelte.dev/tutorial/in-and-out">In and Out</TitleLink>

<Button on:click="{() => (visible = !visible)}">Toggle</Button>

{#if visible}
  <p
    class="text-blue-400 text-8xl"
    in:fly="{{ y: 200, duration: 2000 }}"
    out:fade
  >
    Flies in, Fades out.
  </p>
{/if}
