<script lang="ts">
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible: boolean = false

  function typewriter(node: Element, { speed = 50 }: { speed?: number }) {
    const valid =
      node.childNodes.length === 1 &&
      node.childNodes[0].nodeType === node.TEXT_NODE

    if (!valid) {
      throw new Error(
        `This transition only works on elements with a single text node child`
      )
    }

    const text = node.textContent!
    const duration = text.length * speed

    return {
      duration,
      tick: (t: number) => {
        const i = ~~(text.length * t)
        node.textContent = text.slice(0, i) + `${!(i % 2) ? '_' : ''}`
      }
    }
  }
</script>

<TitleLink href="https://svelte.dev/tutorial/custom-js-transitions">
  Custom JS Transition
</TitleLink>

<Button on:click="{() => (visible = !visible)}">Toggle</Button>

{#if visible}
  <p class="text-blue-400 text-8xl" transition:typewriter>
    The quick brown fox jumps over the lazy dog
  </p>
{/if}
