<script lang="ts">
  import { fly } from 'svelte/transition'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible: boolean = false
  let status: string = 'waiting...'
</script>

<TitleLink href="https://svelte.dev/tutorial/transition-events">
  Transition Events
</TitleLink>

<Button variant="w-full h-16" on:click="{() => (visible = !visible)}">
  Toggle
</Button>

<p class="text-4xl h-24 flex items-center justify-center">Status: {status}</p>

{#if visible}
  <p
    class="text-blue-400 text-8xl"
    transition:fly="{{ y: 200, duration: 2000 }}"
    on:introstart="{() => (status = 'intro started')}"
    on:introend="{() => (status = 'intro ended')}"
    on:outrostart="{() => (status = 'outro start')}"
    on:outroend="{() => (status = 'outro ended')}"
  >
    The quick brown fox jumps over the lazy dog
  </p>
{/if}
