<script lang="ts">
  import { slide } from 'svelte/transition'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  let visible = true
  let i = 5
  let items: Array<string> = [
    'one',
    'two',
    'three',
    'four',
    'five',
    'six',
    'seven',
    'eight',
    'nine',
    'ten'
  ]
</script>

<TitleLink href="https://svelte.dev/tutorial/local-transitions">
  Local Transition
</TitleLink>

<Button on:click="{() => (visible = !visible)}">
  {visible ? 'Hide' : 'Show'}
</Button>

<label class="block">
  <input type="range" bind:value="{i}" max="10" />
  <div>Items length: {i}</div>
</label>

<div class="flex mt-4">
  {#if visible}
    <div class="w-1/2 bg-gray-300">
      <h2 class="text-xl">
        <span class="text-red-400">Without Local</span> Transition
      </h2>
      <ul class="list-none">
        {#each items.slice(0, i) as item}
          <li transition:slide>
            {item}
          </li>
        {/each}
      </ul>
    </div>
  {/if}
  {#if visible}
    <div class="w-1/2 bg-gray-300">
      <h2 class="text-xl">
        <span class="text-blue-400">With Local</span> Transition
      </h2>
      <ul class="list-none">
        {#each items.slice(0, i) as item}
          <li transition:slide|local>
            {item}
          </li>
        {/each}
      </ul>
    </div>
  {/if}
</div>

<style>
  li {
    padding: 0.5rem 0;
    border-top: 1px solid #eee;
  }
</style>
