<script lang="ts">
  import TodoItems from '../components/TodoItems.svelte'
  import type Todo from '../types/Todo'

  let todos: Array<Todo> = [
    { id: '1617713350688', task: 'Eat cat', completed: false },
    { id: '1617713563130', task: 'Eat dog', completed: false },
    { id: '1617713759044', task: 'Eat giraffe', completed: false },
    { id: '1617713769012', task: 'Eat elephant', completed: false }
  ]
</script>

<TodoItems todos="{todos}" />
