<script lang="ts">
  import { spring } from 'svelte/motion'
  import { pannable } from './libs/a.pannable'
  import TitleLink from '../../components/TitleLink.svelte'

  const coords = spring<{ x: number; y: number }>(
    { x: 0, y: 0 },
    {
      stiffness: 0.2,
      damping: 0.4
    }
  )

  function handlePanStart(event: CustomEvent<{ x :number, y: number }>) {
    event
    coords.stiffness = coords.damping = 1
  }

  function handlePanMove(
  	event: CustomEvent<{ dx: number, dy: number }>
	) {
    coords.update(($coords) => ({
      x: $coords.x + event.detail.dx,
      y: $coords.y + event.detail.dy
    }))
  }

  function handlePanEnd() {
    coords.stiffness = 0.2
    coords.damping = 0.4
    coords.set({ x: 0, y: 0 })
  }
</script>

<TitleLink href="https://svelte.dev/tutorial/actions">
  The Use Directive
</TitleLink>

<div
  class="box"
  use:pannable
  on:panstart="{handlePanStart}"
  on:panmove="{handlePanMove}"
  on:panend="{handlePanEnd}"
	style="transform:
			translate({$coords.x}px,{$coords.y}px)
			rotate({$coords.x * 0.2}deg)
	"
></div>

<style>
  .box {
    --width: 100px;
    --height: 100px;
    position: absolute;
    width: var(--width);
    height: var(--height);
    left: calc(50% - var(--width) / 2);
    top: calc(50% - var(--height) / 2);
    border-radius: 4px;
    background-color: #ff3e00;
    cursor: move;
  }
</style>
