<script>
  import { longpress } from './libs/b.longpress'
  import TitleLink from '../../components/TitleLink.svelte'

  let pressed = false
  let duration = 400
</script>

<TitleLink href="https://svelte.dev/tutorial/transition-events">
  Transition Events
</TitleLink>

<label>
  <input type="range" bind:value="{duration}" max="{2000}" step="{100}" />
  {duration}ms
</label>

<button
  class="w-full h-16 btn btn-blue"
  use:longpress="{duration}"
  on:longpress="{() => (pressed = true)}"
  on:mouseenter="{() => (pressed = false)}"
>
  Press and Hold&nbsp;
  {(duration / 1000).toFixed(2)}&nbsp; second{duration === 1000 ? '' : 's'}
</button>

{#if pressed}
  <p>congratulations, you pressed and held for {duration}ms</p>
{/if}

<style lang="postcss">
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>
