<script lang="ts">
  export let variant: string = ''
</script>

<button
  type="button"
  on:click
  class="btn btn-blue focus:outline-none {variant}"
>
  <slot />
</button>

<style lang="postcss">
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>
