<script lang="ts">
  let { href }: { href?: string } = $$props
</script>

<h1 class="text-4xl text-indigo-500 hover:underline">
  <div class="p-2">
    <a href="{href}" name="href" target="_blank">
      <slot />
    </a>
  </div>
</h1>
