<script lang="ts">
  import type Todo from '../types/Todo'
  export let todos: Array<Todo>
</script>

<ul>
  {#each todos as todo}
    <li class="text-2xl text-teal-500">{todo.id}: {todo.task}</li>
  {/each}
</ul>
