<script lang="ts">
  import { tweened } from 'svelte/motion'
  import { cubicOut } from 'svelte/easing'
  import Button from '../../components/Button.svelte'
  import TitleLink from '../../components/TitleLink.svelte'

  const progress = tweened(0, {
    duration: 1500,
    easing: cubicOut
  })
</script>

<TitleLink href="https://svelte.dev/tutorial/tweened">Tweened</TitleLink>

<progress value="{$progress}"></progress>

<Button on:click="{() => progress.set(0)}">0%</Button>

<Button on:click="{() => progress.set(0.25)}">25%</Button>

<Button on:click="{() => progress.set(0.5)}">50%</Button>

<Button on:click="{() => progress.set(0.75)}">75%</Button>

<Button on:click="{() => progress.set(1)}">100%</Button>

<style>
  progress {
    display: block;
    width: 100%;
  }
</style>
