<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'

  let currentActive: string = 'foo'
</script>

<TitleLink href="https://svelte.dev/tutorial/classes">
  The Class Directive
</TitleLink>

<button
  class="btn btn-blue"
  class:active="{currentActive === 'foo'}"
  on:click="{() => (currentActive = 'foo')}"
>
  Foo
</button>

<button
  class="btn btn-blue"
  class:active="{currentActive === 'bar'}"
  on:click="{() => (currentActive = 'bar')}"
>
  Bar
</button>

<button
  class="btn btn-blue"
  class:active="{currentActive === 'baz'}"
  on:click="{() => (currentActive = 'baz')}"
>
  Baz
</button>

<style lang="postcss">
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .active {
    @apply bg-green-500;
  }
  .active:hover {
    @apply bg-green-700;
  }
</style>
