<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  let big: boolean = false
</script>

<label>
  <TitleLink href="https://svelte.dev/tutorial/class-shorthand">
    Shorthand Class Directive
  </TitleLink>
  <input type="checkbox" bind:checked="{big}" />
  big
</label>

<div class:big>
  some {big ? 'big' : 'small'} text
</div>

<style lang="postcss">
  .big {
    font-size: 4em;
  }
</style>
