<script lang="ts">
  import type { IFile } from './types/File'
  import TitleLink from '../../components/TitleLink.svelte'
  import Folder from './components/a.folder-component.svelte'

  let root: Array<IFile> = [
    {
      type: 'folder',
      name: 'Important work stuff',
      files: [{ type: 'file', name: 'quarterly-results.xlsx' }]
    },
    {
      type: 'folder',
      name: 'Animal GIFs',
      files: [
        {
          type: 'folder',
          name: 'Dogs',
          files: [
            { type: 'file', name: 'treadmill.gif' },
            { type: 'file', name: 'rope-jumping.gif' }
          ]
        },
        {
          type: 'folder',
          name: 'Goats',
          files: [
            { type: 'file', name: 'parkour.gif' },
            { type: 'file', name: 'rampage.gif' }
          ]
        },
        { type: 'file', name: 'cat-roomba.gif' },
        { type: 'file', name: 'duck-shuffle.gif' },
        { type: 'file', name: 'monkey-on-a-pig.gif' }
      ]
    },
    { type: 'file', name: 'TODO.md' }
  ]
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-self">
  {'<svelte:self>'}
</TitleLink>

<div class="text-left">
  <Folder name="Home" files="{root}" expanded />
</div>
