<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import RedThing from './components/b.blue-thing.svelte'
  import GreenThing from './components/b.green-thing.svelte'
  import BlueThing from './components/b.red-thing.svelte'

  interface Option {
    color: string
    component?: unknown
  }

  const options: Array<Option> = [
    { color: 'red', component: RedThing },
    { color: 'green', component: GreenThing },
    { color: 'blue', component: BlueThing }
  ]

  let selected: Option = options[0]
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-component">
  {'<svelte:component>'}
</TitleLink>

<select bind:value="{selected}">
  {#each options as option}
    <option value="{option}">{option.color}</option>
  {/each}
</select>

<svelte:component this="{selected.component}" />

{#if selected.color === 'red'}
  <RedThing />
{:else if selected.color === 'blue'}
  <BlueThing />
{:else}
  <GreenThing />
{/if}
