<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'

  let key: string
  let keyCode: number

  function handleKeydown(event: Partial<KeyboardEvent>) {
    key = <string>event!.key
    keyCode = <number>event?.keyCode
  }
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-window">
  {'<svelte:window>'}
</TitleLink>

<svelte:window on:keydown="{handleKeydown}" />

<div class="text-center">
  {#if key}
    <kbd>{key === ' ' ? 'Space' : key}</kbd>
    <p>{keyCode}</p>
  {:else}
    <p>Focus this window and press any key</p>
  {/if}
</div>

<style lang="postcss">
  div {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  kbd {
    width: fit-content;
    background-color: #eee;
    border-radius: 4px;
    font-size: 6em;
    padding: 0.2em 0.5em;
    border-top: 5px solid rgba(255, 255, 255, 0.5);
    border-left: 5px solid rgba(255, 255, 255, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    color: #555;
  }
</style>
