<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'

  let hereKitty: boolean = false
  const handleMouseenter: EventHandlerNonNull = () => (hereKitty = true)

  const handleMouseleave: EventHandlerNonNull = () => (hereKitty = false)
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-body">
  {'<svelte:body>'}
</TitleLink>

<svelte:body
  on:mouseenter="{handleMouseenter}"
  on:mouseleave="{handleMouseleave}" />

<span class="opacity-70 uppercase">
  try to move mouse enter and leave from window
</span>

<!-- creative commons BY-NC http://www.pngall.com/kitten-png/download/7247 -->
<img
  class:curious="{hereKitty}"
  alt="Kitten wants to know what's going on"
  src="src/assets/images/kitten.png"
/>

<style lang="postcss">
  img {
    @apply absolute left-0 -bottom-16;
    transform: translate(-80%, 0) rotate(-30deg);
    transform-origin: 100% 100%;
    transition: transform 0.4s;
  }

  .curious {
    transform: translate(-15%, 0) rotate(0deg);
  }

  :global(body) {
    @apply overflow-hidden;
  }
</style>
