<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-head">
  {'<svelte:head>'}
</TitleLink>

<svelte:head>
  <link rel="stylesheet" href="https://svelte.dev/tutorial/dark-theme.css" />
</svelte:head>

<h1>Hello world!</h1>

<style>
</style>
