<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import type { TodoType } from './types/Todo'
  import Todo from './components/g.todo-component.svelte'

  let todos: Array<TodoType> = [
    { id: 1, done: true, text: 'wash the car' },
    { id: 2, done: false, text: 'take the dog for a walk' },
    { id: 3, done: false, text: 'mow the lawn' }
  ]

  function toggle(toggled: TodoType): void {
    todos = todos.map((todo) => {
      if (todo === toggled)
        return {
          id: todo.id,
          text: todo.text,
          done: !todo.done
        }
      return todo
    })
  }

  // function toggle(todoId: number): void {
  //   todos = todos.map((todo) => {
  //     console.log(todo.id === todoId)
  //     if (todo.id === todoId)
  //       return {
  //         id: todo.id,
  //         text: todo.text,
  //         done: !todo.done
  //       }
  //     return todo
  //   })
  // }
</script>

<div class="text-left p-4">
  <TitleLink href="https://svelte.dev/tutorial/svelte-options">
    {'<svelte:options>'}
  </TitleLink>

  <h2>Todos</h2>
  {#each todos as todo}
    <Todo todo="{todo}" on:click="{() => toggle(todo)}" />
    <!--    <Todo todo="{todo}" on:click="{() => toggle(todo.id)}" />-->
  {/each}
</div>
