<script lang="ts">
  import TitleLink from '../../components/TitleLink.svelte'
  import Box from './components/h.box-component.svelte'
</script>

<TitleLink href="https://svelte.dev/tutorial/svelte-fragment">
  {'<svelte:fragment>'}
</TitleLink>

<Box>
  <svelte:fragment slot="footer">
    <p>All rights reserved.</p>
    <p>Copyright (c) 2019 Svelte Industries</p>
  </svelte:fragment>
</Box>
