<script lang="ts">
  import TodoList from './pages/TodoList.svelte'
  import Congratulations from './tutorial/19-next-steps/Congratulations.svelte'
</script>

<main>
  <TodoList />
  <hr />
  <Congratulations />
</main>

<style lang="postcss">
  :root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    @apply overflow-x-hidden overflow-y-auto;
  }

  main {
    height: 100vh;
    text-align: center;
    margin: 0;
  }
</style>
