<script lang="ts">
  import type { IFile } from '../types/File'

  let { name = '' }: Partial<IFile> = $$props
	$: type = name.slice(name.lastIndexOf('.') + 1);
</script>

<style lang="postcss">
	span {
		padding: 0 0 0 1.5em;
		background: 0 0.1em no-repeat;
		background-size: 1em 1em;
    @apply cursor-default select-none;
	}
</style>

<span style="background-image: url('/src/assets/icons/{type}.svg')">{name}</span>
