<script lang="ts">
  import File from './a.file-component.svelte'
  import type { IFile } from '../types/File'

  type FolderProps = IFile & { expanded?: boolean }

  let { name, files = [], expanded }: FolderProps = $$props
</script>

<span
  class:expanded
  class="select-none"
  on:click="{() => (expanded = !expanded)}"
>
  {name}
</span>

{#if expanded}
  <ul>
    {#each files as file}
      <li>
        {#if file.type === 'folder'}
          <svelte:self {...file} />
        {:else}
          <File {...file} />
        {/if}
      </li>
    {/each}
  </ul>
{/if}

<style lang="postcss">
  span {
    padding: 0 0 0 1.5em;
    background: url(/src/assets/icons/folder.svg) 0 0.1em no-repeat;
    background-size: 1em 1em;
    @apply font-bold cursor-pointer;
  }

  .expanded {
    background-image: url(/src/assets/icons/folder-open.svg);
  }

  ul {
    padding: 0.2em 0 0 0.5em;
    margin: 0 0 0 0.5em;
    list-style: none;
    border-left: 1px solid #eee;
  }

  li {
    padding: 0.2em 0;
  }
</style>
