<svelte:options accessors immutable />

<script lang="ts">
  import { afterUpdate } from 'svelte'
  import flash from '../libs/g.flash'
  import type { TodoType } from '../types/Todo'

  export let todo: TodoType

  let div: HTMLDivElement

  afterUpdate(() => {
    flash(div)
  })
</script>

<div bind:this="{div}" on:click>
  {todo.done ? '👍' : ''}
  {todo.text}
</div>

<style>
  div {
    cursor: pointer;
    line-height: 1.5;
  }
</style>
